* {
    padding: 0;
    margin: 0;
    color: black;
}

table {
    border-collapse: collapse;
}
.str3 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b b" "a c d" "a e e";
}

.str3A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str3B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str3C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str3D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str3E {
    background-color: yellow;
    grid-area: e;
    margin: 5px;
}

.str3F {
    background-color: orange;
    grid-area: f;
    margin: 5px;
}

