* {
    padding: 0;
    margin: 0;
    color: black;
}

table {
    border-collapse: collapse;
}
.str1 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b d" "a c d" "a e d";
}

.str1A {
    background-color: red;
    grid-area: a;
    margin: 5px;
}

.str1B {
    background-color: lime;
    grid-area: b;
    margin: 5px;
}

.str1C {
    background-color: lightskyblue;
    grid-area: c;
    margin: 5px;
}

.str1D {
    background-color: yellow;
    grid-area: d;
    margin: 5px;
}

.str1E {
    background-color: orange;
    grid-area: e;
    margin: 5px;
}